.content {
    margin: 20px;
    margin-left: 35%;
}

.formFields {
    display: none;
}

button {
    margin-left: 7% !important;
}

.formFieldGroup * {
    font-size: 12px !important;
    min-width: 300px !important;
    min-height: 30px !important;
}

.no-registry {
    text-align: center !important;
}

#divAirplanes {
    text-align: center;
    margin-left: 18%;
    width: 900px;
}

table {
    font-size: 10px;
}

h2 {
    text-align: center;
}
