@{

}

<div class="content">
    <div id="formFields" class="formFields">
        <form onsubmit="javascript: onSubmit()">
            <div class="formFieldGroup">
                <input type="hidden" id="Id" name="Id" ngModel />
                <input type="hidden" id="CreationDate" name="CreationDate" ngModel />

                <p>
                    <label for="Modelo">Modelo:</label>
                </p>
                <p>
                    <input type="text" id="Model" name="Model" class="formField" placeholder="Modelo" required ngModel />
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="QtdPassengers">Quantidade de passageiros:</label>
                </p>
                <p>
                    <input type="text" id="QtdPassengers" name="QtdPassengers" class="formField" placeholder="Quantidade de passageiross" required ngModel />
                </p>
            </div>
            <input type="submit" value="Salvar" />
        </form>
    </div>
    <button type="button" id="btnAddAnuncio">Adicionar Anúncio</button>
</div>

<div id="divAnuncios">
    <h2>
        Anúncios
    </h2>


    <table>
        <tr>
            <th>Código do Anúncio</th>
            <th>Modelo</th>
            <th>Quantidade de passageiros</th>
            <th>Data de criação do registro</th>
        </tr>
        <tr >
            @*<td>{{anuncio.id}}</td>
            <td>{{anuncio.model}}</td>
            <td>{{anuncio.qtdPassengers}}</td>
            <td>{{anuncio.creationDate}}</td>*@
            <td><button type="button" id="btnEdit" onclick="javascript: onEditAnuncio(anuncio)"><span>Edit</span></button></td>
            <td><button id="btnDelete" type='button' onclick="javascript: onDeleteAnuncio(anuncio)"><span>Delete</span></button></td>
        </tr>
    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/anuncio.js"></script>
