<div class="content">
    <div id="formFields" class="formFields">
        <form onsubmit="javascript: onSubmit()">
            <div class="formFieldGroup">
                <input type="hidden" id="id" name="id" />
                <p>
                    <label for="marca">Marca:</label>
                </p>
                <p>
                    <select required id="marca" name="marca" class="formField"></select>
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="modelo">Modelo:</label>
                </p>
                <p>
                    <select required disabled id="modelo" name="modelo" class="formField"></select>
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="versao">Versão:</label>
                </p>
                <p>
                    <select required disabled id="versao" name="versao" class="formField"></select>
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="ano">Ano:</label>
                </p>
                <p>
                    <input required type="text" id="ano" name="ano" class="formField" />
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="quilometragem">Quilometragem:</label>
                </p>
                <p>
                    <input required type="text" id="quilometragem" name="quilometragem" class="formField" />
                </p>
            </div>
            <div class="formFieldGroup">
                <p>
                    <label for="observacao">Observação:</label>
                </p>
                <p>
                    <input required type="text" id="observacao" name="observacao" class="formField" />
                </p>
            </div>
            <button type="button" onclick="javascript: salvarAnuncio();">Salvar</button>
        </form>
    </div>
    <button type="button" id="btnAddAnuncio">Adicionar Anúncio</button>
</div>

<div id="divAnuncios">
    <h2>
        Anúncios
    </h2>
    <div id="divTableAnuncios">

    </div>


</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/anuncio.js"></script>
